.placas {
  width: 100%;
  height: 100%;

  .imgPlaca:nth-child(1) {
    position: absolute;
    left: 5%;
    bottom: -28%;
  }
  .imgPlaca:nth-child(2) {
    position: absolute;
    left: 21%;
    bottom: -20%;
    z-index: 2;
  }
  .imgPlaca:nth-child(3) {
    position: absolute;
    left: 37%;
    bottom: -12%;
    z-index: 3;
  }
  .imgPlaca:nth-child(4) {
    position: absolute;
    left: 53%;
    bottom: -4%;
    z-index: 3;
  }
  .imgPlaca:nth-child(5) {
    position: absolute;
    left: 69%;
    bottom: 0%;
    z-index: 3;
  }

  @include responsive(s) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 32px;
    margin-bottom: -48px;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .imgPlaca:nth-child(1) {
      position: relative;
    }
    .imgPlaca:nth-child(2) {
      position: relative;
    }
    .imgPlaca:nth-child(3) {
      position: relative;
    }
    .imgPlaca:nth-child(4) {
      position: relative;
    }
    .imgPlaca:nth-child(5) {
      position: relative;
    }
  }
}

.listModules {
  & li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}

.laptopSection {
  @include responsive(s) {
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

.telaLaptop {
  perspective: 500px;
}

.telaLaptop {
  transform-origin: 50% 100%;
}

.conteudoImage {
  animation: translateDash 10s linear infinite alternate;
}

@keyframes translateDash {
  0% {
    transform: translateY(00);
  }

  70% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(-400px);
  }
}
