a {
  text-decoration: none;
}

.btn-cta {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--primary-orange-light-50, #d6843a);
  transition: 500ms all ease;
  border: none;

  @include typeface-2(p3, desktop);
  color: $primary-orange-10;
  cursor: pointer;

  &:hover {
    background: var(--primary-orange-light-60, #73461d);
    box-shadow: 0px -0.60294px 96.16916px 0px rgba(214, 132, 58, 0.27);
  }
}

.link-footer {
  padding: 8px 8px 8px 8px;

  transition: 0.7s ease;

  &:hover {
    padding: 8px 8px 8px 16px;
  }
}

a {
  color: $primary-orange-40;
}
