// Colors of project

// Brand-colors
$primary-orange-10: #f5d5b8;
$primary-orange-20: #edbf95;
$primary-orange-30: #e3aa76;
$primary-orange-40: #de9859;
$primary-orange-50: #d6843a;
$primary-orange-60: #73451d;
$primary-orange-70: #593412;
$primary-orange-80: #40230a;
$primary-orange-90: #190e03;
$primary-orange-100: #080400;

// Gray Scale
$gray-1: #fcf5ef;
$gray-2: #e3ddd7;
$gray-3: #c9c4bf;
$gray-4: #b0aba7;
$gray-5: #8c8885;
$gray-6: #736e6a;
$gray-7: #575350;
$gray-8: #403d3b;
$gray-9: #262523;
$gray-10: #0d0c0b;

// Semantic Colors

$support-01: #2962ff;
$support-02: #0bb07b;
$support-03: #ffce52;
$support-04: #e0e0e0;
$support-05: #f03d3d;


