.icon {
  max-width: 64px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 56px;
  }

  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-s {
  max-width: 40px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 32px;
  }

  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-xs {
  max-width: 24px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 24px;
  }

  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-m {
  max-width: 96px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 80px;
  }
}

.icon-l {
  max-width: 120px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 96px;
  }
}

.icon-xl {
  max-width: 172px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 144px;
  }
}

.icon-xxl {
  max-width: 220px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 180px;
  }
}


.personPhoto {
  position: relative;
  padding: 0px 0px 0px 78px;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #D6843A 0%, #DE9859 100%);
    border-radius: 50%;
  }
}

.bg-Person-01 {
  &::after {
    background-image: url("../img/catharinePic.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.bg-Person-02 {
  &::after {
    background-image: url("../img/catharinePic.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.bg-Person-03 {
  &::after {
    background-image: url("../img/marcosPic.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.bg-Person-04 {
  &::after {
    background-image: url("../img/willPic.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.bg-Person-05 {
  &::after {
    background-image: url("../img/matheusPic.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
